@import "./scss/base/reset";
@import "./scss/base/fonts";
@import "./scss/utils/variables";
@import "./scss/utils/mixins";
@import "./scss/layouts/modal";
@import "./scss/utils/espaciado";
@import "./scss/components/boton";
@import "./scss/components/filtros";
@import "./scss/components/spinner";
@import "./scss/layouts/nav";
@import "./scss/layouts/tarjetas";
@import "./scss/layouts/unaTarjeta";
@import "./scss/layouts/form";
@import "./scss/layouts/footer";



body {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    min-width: 270px; 
}

main {
    min-width: 270px;
}

.hidden {
    display:none;
}

// #cont-total-una-tarj {
//     // height:460px;
//     margin:auto;

//     // @include responsive($breakpoints, sm) {
//     //     height:auto;
//     // }
// }
// #cont-una-tarj {
//     margin-inline: auto;
//     margin-block: 10px;
//     border: 1px solid #f3eeee70;
//     border-radius: 10px;
//     padding: 3px;
//     box-shadow: 0px 0px 7px 0px #453e3e;
//     position:relative;
//     height:390px;
//     max-width:820px;
//     @include responsive($breakpoints, sm) {
//         height: 320px;
//         overflow: hidden;
//         display: flex;
//         justify-content: flex-end;
//     }
// }

// #imagen-una{
//     overflow: hidden;
//     width:80%;
//     // height: 100%;
//     border-radius: 10px;
//     // @include responsive($breakpoints, sm) {
//     //     width:40%;
//     //     padding:25px;
//     //     height:100%;
//     //     right:0;     
//     //     background-color: rgba(240, 233, 233, 0.648);
//     //     border-top-left-radius:0px;
//     //     border-bottom-left-radius:0px;
//     //     border-right: 3px solid white;
//     //     border-block: 3px solid white;
//     //     display:flex;
//     //     align-items: center;
//     // }
//     @include responsive($breakpoints, xsm) {
//         // width:50%;
//         // padding:25px;
//         // height:100%;
//         // right:0;     
//         // background-color: rgba(240, 233, 233, 0.648);
//         // border-top-left-radius:0px;
//         // border-bottom-left-radius:0px;
//         // border-right: 3px solid white;
//         // border-block: 3px solid white;
//         // display:flex;
//         // align-items: center;
//         // justify-content: flex-start;
//     }
// }

// #img-una {
//     border-radius: 10px;
//     object-fit:cover;
//     // height:100%;
//     // width:100%;
    
//     // @include responsive($breakpoints, sm) {
//     //     display:flex;
//     //     border: 3px solid white;
//     //     height:70%;
//     // }
//     // @include responsive($breakpoints, msm) {
//     //     border: 3px solid white;
//     //     height:90%;
//     // }
//     // @include responsive($breakpoints, xsm) {
//     //     border: 3px solid white;
//     //     display:flex;
//     //     width:100%;
//     // }
// }

// #datos-una {
//     position:absolute;
//     bottom:0;
//     left:0px;
//     z-index:49;
//     width:100%;
//     background-color: rgba(240, 233, 233, 0.648);
//     border-bottom-left-radius:10px;
//     border-bottom-right-radius:10px;
//     // box-shadow: inset 0px 0px 2px 0px #453e3eec;
//     border-bottom: 3px solid white;
//     border-left: 3px solid white;
//     // border-right: 3px solid white;
//     padding: 15px;
//     display:flex;
//     flex-direction:column;
//     // justify-content: center;
//     align-items: center;
//     display:grid;
//     gap:3px;
//     grid-template-rows: repeat(3, minmax(min(20%, 18px), 60%));
//     // @include responsive($breakpoints, sm, md, lg) {
//     //     gap:7px;
//     //     width:100%;
//     //     // display:flex;
//     // }
//     @include responsive($breakpoints, sm) {
//         // position:relative;
//         border-bottom-right-radius:0px;
//         border-top-left-radius:10px;
//         width:60%;
//         border: 3px solid white;
//         padding:25px;
//     }
//     @include responsive($breakpoints, xsm) {
//         // position:relative;
//         border-bottom-right-radius:0px;
//         border-top-left-radius:10px;
//         width:50%;
//         border: 0px solid white;
//         padding:25px;
//         height:100%;
//         /* Crea un gradiente que comienza transparente, luego se vuelve opaco, y luego vuelve a ser transparente */
//   background: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
//     }
// }

// #nomb-una {
//     color: black;
//     font-size: 20px;
//     font-weight: 900;
//     font-family: 'Della Respira';
//     text-shadow: 1px 1px 1px rgb(244, 235, 235);
// }

// .info-apar{

// }
// .info-una { 
//     font-size: 14px;
//     font-weight: bold;
//     font-family: 'Della Respira';
//     @include responsive($breakpoints, sm) {
//         font-size:16px;
//     }
// }

// .info-tres{
//     font-size: 14px;
//     font-weight: bold;
//     font-family: 'Della Respira';
//     @include responsive($breakpoints, sm) {
//         margin-top:3px;
//     }
// }

// .info-dos {
//     font-size: 12px;
//     font-weight: 600;
//     font-family: 'Della Respira';
  
// }