main {
    margin-top: 80px;
    padding-inline: 10px;
}


section {
    margin-block:10px;
}


#titulo {
    margin: 0px 5px auto 5%;
}


#btn-nueva-tarj{
    margin-right:7%;
}


#contenidoPersonaje:hover img {
    margin-top: 20px;
}


#contenidoPersonaje:hover #nomb{
    margin-bottom:0px;
}


#contenidoPersonaje:hover img {
    margin-top: 20px;
}


#nomb {
    margin: 5px 0px 50px;
}


#datos {
    padding-inline: 25px;
}


.info{
    margin-block:3px;
}


#info-relevante {
    margin-block: 5px;
}


.ing-dat {
    margin-block:7px;
}


#contenedor-filtros{
    margin:auto;
}


.filtro {
    margin-block: 5px;
}


.filtros {
    margin-inline: auto;
}


label{
    margin-left: 7px;
    margin-bottom:13px;
}


select {
    padding-inline: 5px;
}

input {
    padding-inline: 5px;
}


#conten-img-form{
    margin:auto;
}

.cont-iconos-footer {
    margin-block:10px;
}


.icono-red-footer {
    margin: 10px ;
}


.derechoAutor span {
    margin: 7px;
}