$breakpoints: (
  sm: 500px,
  msm: 550px,
  xsm:650px,
  md: 970px,
  lg: 1310px,
  xl: 1690px
);


@mixin comun-filtros-vs {
  display: flex;
  gap: 30px;
}


@mixin responsive($breakpointsMap, $targetBreakpoints...) {
  @each $breakpoint in $targetBreakpoints {
    $value: map-get($breakpointsMap, $breakpoint);
    @media screen and (min-width: $value) {
      @content;
    }
  }
}


