$main-color: #d1d9b2;
$prin-color-light: #497744;
$secu-color: #ca8db4;
$secu-color-light: #825587;
$main-color: #f7f7ff;

// $orientacion: portraid;

$altoPantalla: 500px; 

:root {
    --orientation: portrait; 
    --altoPantalla: 200; 
}

  
    