$main-color: #d1d9b2;
$prin-color-light: #497744;
$secu-color: #ca8db4;
$secu-color-light: #825587;
$main-color: #f7f7ff;

$orientacion: portraid;


$altoPantalla: 500px; // Valor predeterminado

// ./scss/utils/variables.scss

:root {
    --orientation: portrait; // Valor predeterminado
    --altoPantalla: 200; // Valor predeterminado
}

  
    