button:focus {
    
    border:1px solid rgba(0, 0, 0, 0.486);
    box-shadow:inset 0px 0px 10px #777750, 0px 0px 0px 0px rgb(0 0 0), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0);
}


.btn {
    text-align:center;
    margin-block: 12px;
    padding: 6px 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 7px #4f4250;
    box-shadow: 2px 3px 6px 0px rgb(0 0 0), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0);
 }

 .btn-form{
    width: 63px;
 }
 
.btn:hover {
    /* background-color: #d0cacab9; */
    /* box-shadow: 0px 0px 7px #ac8008; */
    box-shadow: 0px 0px 0px 0px rgb(0 0 0), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0);
}

.btn p:hover {
    transform: scale(1.15);
    /* font-weight: 800; */
}

.btn-home{
    // position:absolute;
    top:5px;
    left: 5px;
    padding:0px;
}

.btns-una-tarj {
    display:flex;
    justify-content: center;
    gap:20px;
    margin:20px;
    
} 

.btn-una{
    height:18px;
    margin-block:0px;
    @include responsive($breakpoints, msm) {  
        height:25px;
        width:50px;
    }
}
.icono{
    // width: 14px;
    height: 14px;
    padding:0px;
    width:auto;
    @include responsive($breakpoints, msm){
        height: 16px;
    }
}


