// @mixin comun-cont-filtros-vs {    
// }


.cont-filtros-vs {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #f2f2f2;
    width: 100%;
    z-index: 10;
    top: 90px;
    left: 0;
    height: 110px;
   


    
    // height: 110px;
    /* padding-bottom: 10px; */
  
    // Utilización del mixin responsive para uno o varios breakpoints
    @include responsive($breakpoints, sm, md, lg) {
      position: fixed;
      padding-bottom: 10px;
      height: 90px;
    }
  }

// Llamar al mixin responsive con cada valor por separado

@mixin comun-filtros-vs {
    display:flex;
    gap:30px; 
}

.filtros-vs{
    justify-content: center;
    gap: 10px;
    align-items: flex-end;
    margin-bottom: 3px;
    width:80%;
    @include responsive($breakpoints, sm, md, lg) {
        @include comun-filtros-vs; 
      }    
      @include responsive($breakpoints, lg) {
        width:60%; 
      }    
}

.filtro {
    gap: 5px;
    @include responsive($breakpoints, sm, md, lg) {
        gap: 15px;
    }
}

.filtros {
    /* width: 80%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(3, minmax(min(100%, 78px), 1fr));
    @include responsive($breakpoints, sm, md, lg) {
        justify-content: flex-end;
        margin:0px;
        margin-bottom: 3px;
        gap: 15px;
    }
}

label {
    font-family: "Della Respira", sans-serif;
    font-size: 12px;
}

#btns-accion-filtros {
    display: flex;
    justify-content: center;
    gap: 10px;
}


select:hover {
    font-weight: 800;
}

select option:checked {
    background-color: #65646095;
}

select {
    outline: none;
    height: 30px;
    font-family: "Della Respira", sans-serif;
    font-size: 11px;
    font-weight: 500;
    width: 100%;
    color: #3d3b3c;
    background-color: #ffffff;
    border: 1px solid #bdc0c2;
    align-items: center;

}

.select {
    /* overflow: hidden; */
    /* background: #fff url("./icono/flecha_select.png") no-repeat 90% center; */
}


select:focus {
    border: 1px solid rgba(0, 0, 0, 0.486);
    box-shadow: inset 0px 0px 10px #777750, 0px 0px 0px 0px rgb(0 0 0), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0);
}

select:active {
    border: 1px solid rgba(0, 0, 0, 0.486);
    box-shadow: inset 0px 0px 10px #777750, 0px 0px 0px 0px rgb(0 0 0), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0);
}

select:hover {
    font-weight: 800;
}

#contenedor-filtros {
    width: 100%;
    height: auto;
}

.conten-filtros {
    display: grid;
    column-gap: 5px;
    grid-template-columns: repeat(3, minmax(min(100%, 78px), 1fr));
}