.cont-filtros-vs {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #f2f2f2;
    width: 100%;
    z-index: 10;
    top: 80px;
    left: 0;
    height: 110px;
    @include responsive($breakpoints, sm, md, lg) {
        position: fixed;
        height: 70px;
    }
}


.filtros-vs {
    justify-content: center;
    gap: 10px;
    align-items: flex-end;
    margin-bottom: 3px;
    width: 90%;
    @include responsive($breakpoints, sm, md, lg) {
        @include comun-filtros-vs;
    }
    @include responsive($breakpoints, lg) {
        width: 60%;
    }
}


.filtro {
    gap: 5px;
    @include responsive($breakpoints, sm, md, lg) {
        gap: 15px;
    }
}


.filtros {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(3, minmax(min(100%, 80px), 1fr));
    position:relative;
    @include responsive($breakpoints, sm, md, lg) {
        justify-content: flex-end;
        margin: 0px;
        margin-bottom: 3px;
        gap: 15px;
    }
}


label {
    font-family: "Della Respira", sans-serif;
    font-size: 12px;
}

#btns-accion-filtros {
    display: flex;
    justify-content: center;
    gap: 10px;
}


select:hover {
    font-weight: 800;
}


select option:checked {
    background-color: #65646095;
}


select {
    outline: none;
    height: 30px;
    font-family: "Della Respira", sans-serif;
    font-size: 11px;
    font-weight: 500;
    width: 100%;
    color: #3d3b3c;
    background-color: #ffffff;
    border: 1px solid #bdc0c2;
    align-items: center;
    position:relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    padding-right: 10px;
}


.select span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px; 
    pointer-events: none;
}


select:focus {
    border: 1px solid rgba(0, 0, 0, 0.486);
    box-shadow: inset 0px 0px 10px #777750, 0px 0px 0px 0px rgb(0 0 0), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0);
}


select:active {
    border: 1px solid rgba(0, 0, 0, 0.486);
    box-shadow: inset 0px 0px 10px #777750, 0px 0px 0px 0px rgb(0 0 0), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0);
}


select:hover {
    font-weight: 800;
}


#contenedor-filtros {
    width: 100%;
    height: auto;
}


.conten-filtros {
    display: grid;
    column-gap: 3px;
    grid-template-columns: repeat(3, minmax(min(100%, 80px), 1fr));
}


.select{
    position:relative;
}


.select span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6px; 
    pointer-events: none;
    font-size: 8px;
}


#elijaFiltros{
    position: absolute;    
    top:54px;
}


#elijaFiltros p {
    color: red;
    font-size: 9px;
    font-weight: 600;
    font-family: "Della Respira", sans-serif;
}


#contMjeCambFilt {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    @include responsive($breakpoints, sm, md, lg) {
        margin-top:90px;
    }
}


#mjeCambFilt h3 {
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content:center;
    padding: 15px;
    height:40%;
    margin-block:3px;
    margin-inline:10px;
}