#contSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
}


.g-container {
    filter: drop-shadow(0 0 5px hsl(68, 100%, 58%)) drop-shadow(0 0 10px hsl(270, 3%, 15%));
    width: 40px;
    height: 40px;
}


#spinner {
    width: 30px;
    height: 30px;
}


@keyframes letterAnimation {
    0% {
        font-size: 12px;
    }

    50% {
        font-size: 16px;
    }

    100% {
        font-size: 12px;
    }
}


.latido-letras {
    animation: letterAnimation 2s infinite;
    display: inline-block;
}


