
@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
  }
  .g-container {
      width: 240px;
      height: 240px;
      filter: drop-shadow(0 0 5px hsl(68, 100%, 58%)) drop-shadow(0 0 10px hsl(270, 3%, 15%));
  }
  .g-triangle {
      width: 240px;
      height: 210px;
      clip-path: polygon(50% 0%, 0% 100%, 3% 100%, 50% 5%, 96% 97%, 3% 97%, 0% 100%, 100% 100%);
      background: conic-gradient(from var(--angle), hsl(68, 100%, 58%), hsl(270, 3%, 15%), hsl(68, 100%, 58%));
      animation: rotate 3s infinite linear;
  }
  @keyframes rotate {
      to {
          --angle: 360deg;
      }
  }