#cont-total-una-tarj {
    margin: auto;
    position: relative;
}


#cont-una-tarj {
    margin-inline: 10px;
    margin-block: 10px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px #453e3e;
    position: relative;
    height: 500px;
    overflow: hidden;
    max-width: 700px;
    margin: auto;
    @include responsive($breakpoints, sm) {
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
        height: 320px;
    }
}


#imagen-una {
<<<<<<< HEAD
    object-fit: cover;
    width:100%;
    height:100%;
=======
    // object-fit: cover;
>>>>>>> main
    position: relative;
    border-radius: 10px;
    @include responsive($breakpoints, sm) {
        width: 80%;
        height: auto;
        display: block;
    }
    @include responsive($breakpoints, xsm) {}
}


#img-una {
<<<<<<< HEAD
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position:top;
    overflow:hidden;

=======
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width:-webkit-fill-available;
    height: auto;
    object-fit: cover;
    @include responsive($breakpoints, sm) {
        transform: translateX(-40%);
    }
>>>>>>> main
}


#datos-una {
    position: absolute;
    bottom: 0;
    left: 0px;
    z-index: 49;
    width: 100%;
    height: auto;
    background-color: rgba(240, 233, 233, 0.648);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    @include responsive($breakpoints, sm) {
        width: 50%;
        height: 100%;
        padding: 25px;
        background: linear-gradient(to right, rgb(242, 239, 239) 70%, rgba(255, 255, 255, 0));
    }
}


.con-tit {
    background-color: rgba(196, 177, 108, 0.663);
    height: 45px;
    width: -webkit-fill-available;
    position: absolute;
    top: -45px;
    left: -10px;
    @include responsive($breakpoints, sm) {
        height: 45px;
        width: -webkit-fill-available;
        position: absolute;
        top: 20px;
        left: 0;
        background: linear-gradient(to right, rgba(196, 177, 108, 0.663) 0%, rgba(196, 177, 108, 0.663) 80%, rgba(196, 177, 108, 0.663) 88%, transparent 100%);
    }
}


#nomb-una {
    position: absolute;
    top: -40px;
    color: black;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Della Respira';
    text-shadow: 1px 1px 1px rgb(244, 235, 235);
    @include responsive($breakpoints, sm) {
        top: 25px;
    }
}


.info-una {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Della Respira';
    @include responsive($breakpoints, sm) {
        font-size: 16px;
        margin-top: 20px;
    }
}


.info-tres {
    font-size: 12px;
    font-weight: bold;
    font-family: 'Della Respira';
    @include responsive($breakpoints, sm) {
        margin-top: 53px;
    }
}


.info-dos {
    font-size: 11px;
    font-weight: 600;
    font-family: 'Della Respira';
}


#contTarjPost {
    font-size: 12px;
    color: #118611;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 110;
    text-shadow: 0px 1px 1px black;
    background-color: rgba(255, 255, 255, 0.5803921569);
    padding: 5px;
    box-shadow: 0 0 6px 0px black;
    width: auto;
    max-width: 90%;
    margin: auto;
}